div {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  line-height: 1.15; /*기본 행간 높이*/
}
a {
  outline: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
a:link,
a:visited {
  color: white;
  text-align: center;
}
.flex-container {
  background-color: coral;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-item {
  width: 120px;
  height: 60px;
  margin: 5px;
  margin-right: 20px;
  padding: 10px;
}
