div {
  width: 100%;
  box-sizing: border-box;
}
table {
  border: 0px;
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  background-color: white;
  border-radius: 15px;
  margin: auto;
}
body {
  margin: 0;
  background-color: rgb(186, 224, 255);
}
html {
  line-height: 1.15; /*기본 행간 높이*/
}

.cart {
  width: 80%;
  max-width: 800px;
  margin: auto;
}
.Edit_your_shopping_cart {
  color: rgb(50, 68, 129);
}
.Choose_payment_method {
  border-radius: 5px;
  border: 0px;
  background-color: rgb(50, 68, 129);
  color: white;
  padding: 20px;
}
.cart-table td,
.cart-table th {
  padding: 15px;
  border-bottom: 1px solid rgb(186, 224, 255);
}
.cart-table th:nth-child(2) {
  width: 700px;
}
.table-image {
  width: 60px;
}

.p_button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
  cursor: pointer;
}
.p_button:hover {
  background-color: chocolate;
}
.p_button:focus {
  background-color: grey;
}
.p_button:active {
  background-color: brown;
}
.p_test {
  font-size: 21px;
}
.p_test:hover {
  border: 2px solid aqua;
}

.p_link {
  text-decoration: none;
}
.p_link:link {
  color: black;
}
.p_link:visited {
  color: black;
}
